body.home
{
  section
  {
    height: 100vh;
    width: 100%;
  }

  section.first
  {
    background-color: $primary;
    position: fixed;
    z-index: 0;
    top: 0;

    div.wrap
    {
      width: 80%;
      height: 100%;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      display: flex;

      h1, p
      {
        text-transform: uppercase;
        font-family: 'Coolvetica', sans-serif;
        font-weight: 400;
        font-style: normal;
        color: $secondary;
      }

      h1
      {
        font-size: 40px;
        margin-top: 260px;
        width: 120px;
      }

      img.logo
      {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: 260px;
      }

      p:first-of-type
      {
        font-size: 30px;
        margin-left: auto;
        margin-top: 400px;
        text-align: right;
        width: 255px;
      }

      p.scroll
      {
        position: absolute;
        bottom: 75px;
        left: 0;
        font-family: 'ff-tisa-sans-web-pro', sans-serif;
        font-size: 15px;
        letter-spacing: 0.12em;
        text-transform: none;
        -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        transition: all 0.3s ease;
        cursor: pointer;
      }

      p.scroll::after
      {
        display: block;
        content: '';
        height: 70px;
        width: 2px;
        background-color: $secondary;
        position: absolute;
        right: 8px;
        top: -75px;
        border-radius: 10px;
      }
    }
  }

  section.second
  {
    margin-top: 100vh;
    background-color: $secondary;

    img.triangle
    {
      position: absolute;
      top: -119px;
      width: 100%;
    }

    div.wrap
    {

      div.about-container
      {
        display: flex;
        margin-top: 100px;

        div.little-menu
        {
          width: 50%;
          height: 353px;
          display: flex;
          flex-direction: column;

          p
          {
            font-family: 'ff-tisa-sans-web-pro', sans-serif;
            font-size: 40px;
            margin-bottom: 50px;
            cursor: pointer;
          }

          p::before
          {
            display: block;
            content: '';
            height: 3px;
            width: 50px;
            background-color: $primary;
            display: inline-block;
            vertical-align: middle;
            margin-right: 60px;
            border-radius: 10px;
            transition: all 0.3s ease;
          }

          p:hover::before,
          p.selected::before
          {
            width:80px;
            margin-right: 30px;
          }

          p:first-of-type
          {
            margin-top: auto;
          }

          p:last-of-type
          {
            margin-bottom: auto;
          }
        }

        div.about-content
        {
          width: 50%;

          div.info-content
          {
            display: none;
            flex-direction: column;
            height: 100%;

            &.active
            {
              display: flex;
            }

            p
            {
              font-family: 'ff-tisa-sans-web-pro', sans-serif;
              margin-bottom: 30px;
              font-size: 18px;
              line-height: 20px;

              &:first-of-type
              {
                margin-top: auto;
              }

              &:last-of-type
              {
                margin-bottom: auto;
              }
            }
          }

          div.skill-content
          {
            display: none;
            flex-direction: column;
            height: 100%;

            &.active
            {
              display: flex;
            }

            div.skill-box
            {
              display: flex;

              div
              {
                position: relative;
                width: 100%;

                svg.progress
                {
                  width: 78px;
                	height: 100px;
                  background-color: $secondary;

                  path.track, path.fill
                  {
                  	fill: rgba(0, 0, 0, 0);
                  	stroke-width: 30;
                  	transform: translate(290px, 800px)rotate(-120deg);
                  }

                  path.track
                  {
                  	stroke: rgb(56, 71, 83);
                  }

                  path.fill
                  {
                  	stroke: rgb(255, 255, 255);
                  	stroke-linecap: round;
                  	stroke-dasharray: 2160;
                  	stroke-dashoffset: 2160;
                  	transition: stroke-dashoffset 1s;
                  }

                  text.value, text.text
                  {
                    font-family: 'ff-tisa-sans-web-pro', sans-serif;
                  	fill: rgb(26, 33, 41);
                  	text-anchor: middle;
                  }

                  text.value
                  {
                  	font-size: 140px;
                  }

                  text.text
                  {
                  	font-size: 120px;
                  }
                }

                svg.progress.blue
                {
                  path.fill
                  {
                    stroke: rgb(46, 204, 113);
                  }
                }

                svg.noselect
                {
                  -webkit-touch-callout: none;
                  -webkit-user-select: none;
                  -khtml-user-select: none;
                  -moz-user-select: none;
                  -ms-user-select: none;
                  user-select: none;
                	cursor: default;
                }
              }
            }

            div.other-skills
            {
              display: flex;
              font-family: 'ff-tisa-sans-web-pro', sans-serif;
              margin-top: auto;

              div
              {
                display: flex;
                flex-direction: column;

                &.language
                {
                  p
                  {
                    font-size: 20px;
                    margin-left: 25px;

                    &:first-of-type
                    {
                      font-size: 25px;
                      margin:0;
                    }

                    &:nth-of-type(2)
                    {
                      margin-top: 18px;
                    }

                    span
                    {
                      color: $specifics;
                    }
                  }
                }

                &.work-method
                {
                  margin-left: 100px;

                  p
                  {
                    font-size: 25px;
                    margin-left: 25px;
                    margin-top: 3px;

                    span
                    {
                      color: $specifics;
                    }
                  }
                }
              }
            }
          }

          div.software-content
          {
            display: none;
            flex-direction: column;
            height: 100%;

            &.active
            {
              display: flex;
            }

            div.software-box
            {
              display: flex;
              margin: auto;
              width: 100%;

              div
              {
                text-align: center;
                display: flex;
                flex-direction: column;
                margin-left: auto;
                margin-right: auto;
                width: 50%;

                img
                {
                  height: 90px;
                  margin-left: auto;
                  margin-right: auto;
                }

                p
                {
                  margin-top: 15px;
                  font-size: 25px;
                  font-family: 'ff-tisa-sans-web-pro', sans-serif2
                }
              }
            }
          }
        }
      }
    }
  }

  section.third
  {
    background-color: $tertiary;

    div.wrap
    {

      div.project-box
      {
        display: flex;
        flex-direction: column;
        margin-top: 30px;

        div.more-projects
        {
          margin-left: auto;
          display: flex;
          flex-direction: column;
          margin-bottom: 80px;

          a
          {
            text-decoration: none;
            color: $primary;
            font-family: 'ff-tisa-sans-web-pro', sans-serif;
            font-size: 25px;
            letter-spacing: 3.3px;
            margin-bottom: 10px;
          }

          img
          {
            width: 100%;
          }
        }

        div.projects
        {
          display: flex;
          width: 100%;

          div.project
          {
            margin: auto;
            height: 275px;
            width: 275px;
            position: relative;
            overflow: hidden;

            img.project
            {
              width: 100%;
              height: 100%;
            }

            div.overlay
            {
              display: flex;
              flex-direction: column;
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: $primary;
              transition: all 0.2s ease;
              transform: translateY(100%);

              div.little-wrap
              {
                margin-top: auto;
                margin-bottom: auto;
                text-align: center;

                p:first-of-type
                {
                  font-family: 'Coolvetica', sans-serif;
                  font-size: 20px;
                  margin-bottom: 20px;
                }

                p
                {
                  font-family: 'ff-tisa-sans-web-pro', sans-serif;
                  font-size: 15px;
                  margin-bottom: 10px;
                  color: $secondary;
                }

                p:last-of-type
                {
                  margin-bottom: 20px;
                }

                div.view-project
                {
                  display: flex;
                  flex-direction: column;
                  width: 68px;
                  margin: auto;

                  a
                  {
                    text-decoration: none;
                    color: $secondary;
                    font-family: 'ff-tisa-sans-web-pro', sans-serif;
                    font-size: 12px;
                    letter-spacing: 1px;
                  }

                  img
                  {
                    width: 100%;
                  }
                }
              }
            }
          }

          div.project:hover
          {
            div.overlay
            {
              transform: translateY(0);
            }
          }
        }
      }
    }
  }
}
